# Dependencies
node_modules
npm-debug.log*

# Next.js
.next
out

# Database
*.db
*.db-journal

# Environment
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Misc
README.md
CHANGELOG.md
DEPLOY-PORTAINER.md
